
body{
    height: 100%;
    background-image: url("imagens/fundo.jpg");
}



.iphone{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    position: absolute;

}
.tela-home{
    height: 480px;
}