body {
    background-image: url("imagens/frame-iphone.png");
}
.iphone{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    position: absolute;
}
.tela-home{
    height: 480px;
}